//Dark Shade
$DS100:color #1F2041;
$DS75:color #1F2041 75%;
$DS50:color #1F2041 50%;
$DS25:color #1F2041 25%;
$DS5:color #1F2041 5%;
// color 
$Purple:color #BC9CFF;
$Green:color #6FCF97;
//Type
$H1:font-size 24px;
