extends ../layouts/ui-kit-layout
extends ../blocks/ui-kit-header/ui-kit-header

block variables
  - var title = 'Type and Color';
  - var pageClass = 'TypeandColor';
header 
block content 
  section 
    p Proverka shablona 2
